* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(60, 62, 63, 0.5) 0%, rgba(48, 90, 90, 0.5) 100%), url(/img/bgHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    background-color: rgb(179, 3, 3);
}

.logo-nav img {
    height: 100px;
    width: 500px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
}

.nav-container a {
    color: white;
    margin-right: 30px;
    text-decoration: none;
    font-size: 30px;
}

.nav-container a:hover {
    color: gold;
}


/*Header Intro*/
.header-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-intro-element {
    margin-bottom: 20px;
}

.header-intro h1 {
    color: white;
    margin-top: 200px;
    font-size: 90px;
}

.header-text {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.header-button {
    border: none;
    color: white;
    padding: 15px;
    font-size: 20px;
    width: 150px;
    background-color: rgb(179, 3, 3);
}

/*SERVICES*/
.services {
    left: 350px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 130px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-icon {
    padding: 30px;
    border-radius: 50%;
    background-color: rgb(14, 205, 253);
    margin: 15px;
}

.service-title {
    font-size: 20px;
}

.service-text {
    margin-top: 10px;
    width: 80%;
    font-size: 15px;
    height: 100%;
}

i {
    font-size: 60px;
}



/*PROMOS*/
.promos {
    height: 100%;
    margin-top: 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/bgPromos.jpg);
}

.promos-title {
    background-color: black;
    padding: 15px;
}

.promos-container {
    height: 100%;
    padding: 20px; 
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    column-gap: 40px; 
}
.first-col {
    margin: 20px;
}

.second-col {
    margin: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
}
.promos-div-s1{
    background-image: url(/img/promos1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    height: 100%;
}
.promos-div-s1:hover{
    transform: translateY(10px);
}

.promos-div:nth-of-type(1) {
    background-image: url(/img/pack5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.promos-div:nth-of-type(2) { /*Honk Kong*/
    background-image: url(/img/promo3.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
.promos-div:nth-of-type(3) { /*Paris*/
    background-image: url(/img/promo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.promos-div:nth-of-type(4) { /*Cancun*/
    background-image: url(/img/pack4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.promos-div:nth-of-type(1):hover {
    transform: translateY(10px);
}
.promos-div:nth-of-type(2):hover {
    transform: translateY(10px);
}
.promos-div:nth-of-type(3):hover {
    transform: translateY(10px);
}
.promos-div:nth-of-type(4):hover {
    transform: translateY(10px);
}



.promos h2 {
    margin-top: 20px;
}

.promos-div img {
    height: 300px;
    width: 300px;
}

.promos-div {
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    height: 100%;
}
 

.promos-text {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-button {
    margin-top: 10px;
    margin-bottom: 30px;
}




/*MODAL*/
.form-container {
    display: flex;
    justify-content: center;
}

.img-container {
    background-color: white;
    padding: 10px;
}

.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    column-gap: 10px;
    padding: 10px;
    text-align: center;
}
.form-div h4 {
    color: red;
    
}

.btn {
    background-color: rgb(179, 3, 3);
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 26, 26, 0.752);
}

#close {
    position: relative;
    left: 20;
    color: black;
}
.span-div {
    top: 10px;
    right: 0px;
    left: 400px;
    bottom: 0px;
    position: absolute;
}

.title-container {
    text-align: center;
    display: flex;
    color: Black;
    flex-direction: row;
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 900;
}

/*SLIDER*/
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.slider {
    background-color: #f2f2f2;
    padding: 40px 0;
}

.slider__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}

.slider__body {
    padding: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: rgb(105, 175, 233);
    grid-template-columns: 1fr max-content;
    align-items: center;
    opacity: 1.5s;
}

.slider__body--show {
    opacity: 1;
    pointer-events: unset;
}

.slider__text {
    max-width: 600px;
}

.slider__text h2 {
    font-size: 50px;
}

.slider__text p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.slider__review {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
}

.slider__img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.slider__arrow {
    cursor: pointer;
    width: 90%;
}

.slider__arrow:nth-of-type(2) {
    justify-self: end;
}

/*BRANDS*/
.brands-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 120px;
    padding: 35px;

}

.brands h2 {
    padding: 20px;
    text-align: center;
    font-size: 60px;
}

.brand img {
    width: 200px;
    height: 100px;
}

.brands {
    background-color: gold;
}


/*Footer*/
.footer {
    background-color: rgba(60, 62, 63, 0.5);
    column-gap: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    column-gap: 5px;
}

.social-container {
    display: flex;
    column-gap: 20px;
}

















/*MQ*/
/*SLIDER*/
@media (max-width: 768px) {
    .slider__body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }

    .slider__img {
        width: 210px;
        height: 210px;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(90deg, rgba(60, 62, 63, 0.5) 0%, rgba(48, 90, 90, 0.5) 100%), url(/img/bgHeader.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: initial;
    }

    .nav-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .nav-container a {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .logo-nav {
        order: -2;
    }

    .logo-nav img {
        height: 80px;
        width: 350px;
    }
    .span-div {
        left: 250px;
        right: 30px;
    }

    /*SERVICES*/
    .services {
        left: 0;
        bottom: 0;
        position: initial;
        flex-direction: column;
        margin: 0;
    }

    .service {
        position: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .service-text {
        margin-top: 10px;
        width: 80%;
        font-size: 15px;
        height: 100%;
    }
    .header-intro h1 {
        text-align: center;
        margin-top: initial;
        font-size: 60px;
    }
    .header-intro {
        padding: 30px;
    }

    /*PROMOS*/
    .promos-container {
        height: 100%;
        padding: 20px; 
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        column-gap: 40px; 
    }
    .second-col {
        margin: 20px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }
    .promos-div {
        margin-top: 20px;
    }

    /*BRANDS*/
    .brands-container {
        flex-direction: column;
    }
    .brand {
        margin-bottom: 50px;
    }
    .brands h2 {
        font-size: 40px;
    }
    .form {
        width: 300px;
        height: 700px;
    }
    .title-container {
        display: flex;
    }

    /*Footer*/
    footer {
        flex-direction: column;
        text-align: center;
    }
    .social-container {
        flex-direction: column;
    }
    .social {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}